<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
        <link href='http://fonts.googleapis.com/css?family=Karla' rel='stylesheet' type='text/css'>

    </head>
    <body>

    <div id="slant">
        <h1>Kurt Hindenburg</h1>
        <a href="mailto:kurt.hindenburg@gmail.com" rel="nofollow">Email</a>
        <a href="http://twitter.com/kurthindenburg" rel="nofollow">Twitter</a>
        <a href="https://github.com/kurthindenburg" rel="nofollow">Github</a>
        <a href="https://plus.google.com/+KurtHindenburg/posts" rel="nofollow">Google+</a>
        <a href="https://www.facebook.com/kurthindenburg" rel="nofollow">Facebook</a>
        <a href="http://blogs.kde.org/blogs/khindenburg" rel="nofollow">KDE Blog</a>
     </div>


    </body>
</html>
